body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .grey-1 {
  background-color: #121212;
  border: 1px;
  border-radius: 5%;
} */

.grey-2 {
  background-color: #191919;
}

.grey-3 {
  background-color: #212121;
}

.background {
  background-color: #121212;
  color: white;
}

.round-border {
  border:1px solid;
  border-color: black;
  border-radius: 20px;
}

.clickable-profile {
  width: 500px;
  border: solid black;
  margin: 0 auto;
  margin-top: 3rem;
  display: block;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.friends-list-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  word-wrap: break-word;
  word-break:break-word;
}

.friend-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  margin: 5px;
}

.profile-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
}

.username {
  margin-bottom: 5%;
}

.message-list-container {
  align-self: center;
  justify-items: center;
  margin: 30px;
  width: 50%;

}

.container-msg-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  padding: 5px;
}

.message-from {
  font-size: 140%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 5px;
}


.box-and-req-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

/* this is usesed to make .msg-container 
centered and friend requests to the left */
.inviz-item {
  width: 220px;
}

.myprofile {
  display: flex;
  flex-direction: column;
  width: inherit;
  flex-shrink: 2;
  margin: 2%;
  padding: 2%;
}

.msg-box-errror {

  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin: 2%
}

/* LOG IN SCREEN */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-border {
  padding: 50px;
  background-color: #272727;
  border: 1px solid black;
  border-radius: 10px;
}


@media (max-width: 720px) { 
  .container-msg-box {
    flex-direction: column;
   }
    
  .box-and-req-container{
    flex-direction: column;
   }
  .message-list-container {
    width: 80%;
  }
 }