body {

    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #121212;
    color: white;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background-color: #151515;
    margin-left: 3%;
    margin-right: 3%;

}

ul {
    list-style: none;
}

#send {
background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

span {
    display:block;
}

.msg_box {

    display: flex;
    border: solid 1px black;
    width: 40%;
    flex-wrap: wrap;
    background-color: #212121;
    
}

.box_text {
    flex: 5;
    
}

.box_checkbox {
    flex: 1;
    align-items: center;
}